<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" type="text/css" href="css/estilos.css">
	<title>FUNAS</title>
</head>

<body>
	<div class="container">
		<div class="tweet">
			<div class="author">JohnDoe</div>
			<div class="timestamp">5 minutes ago</div>
			<div class="content">example</div>
			<div class="actions">
			</div>
		</div>

		<div class="tweet">
			<div class="author">JaneSmith</div>
			<div class="timestamp">10 minutes ago</div>
			<div class="content">example.</div>
			<div class="actions">
			</div>
		</div>

	</div>
</body>

</html>